/bin/
/target/
/Notes and Ideas
/Design
/ExceptionNotes.txt
/.classpath
/.project
/ExcelCommander.iml
/.idea/
Excel-Commander.iml
Spreadsheet-Buddy.iml
/InProcess/
InProcess/
/src/main/resources/application.properties