/bin/
/target/
/Notes and Ideas
/Design
/ExceptionNotes.txt
/.classpath
/.project
/ExcelCommander.iml
/InProcess/
/.idea/
/src/main/resources/application.properties/
src/main/resources/fxml/FileSysNavWindow.fxml
