.root{
    -fx-background-color:rgb(0.0,0.0,0.0);
    -fx-font-family: 'Tw Cen MT Condensed';
}
.menu-bar{
	-fx-background-color:rgb(128.0,128.0,128.0);
}
.menu{
	-fx-background-color:rgb(0.0,0.0,64.0);
	
}

.menu-item {
	-fx-background-color:rgb(0.0,0.0,64.0);
	-fx-text-fill:rgb(255,255,255);
	
	
}
.menu-item:hover {
	-fx-background-color:rgb(0.0,0.0,255.0);
	-fx-text-fill:rgb(255,255,255);
	
}
.menu-item:pressed {
	-fx-background-color:rgb(92.0,47.0,149.0);
	-fx-text-fill:rgb(255,255,0);
}

.button {
	-fx-background-color:#0199d9;
	-fx-font-family: 'Tw Cen MT Condensed';
	-fx-font-size:14.0px;
	-fx-text-fill:rgb(255,255,255);
}
.tool-bar {
	-fx-background-color:rgb(102.0,51.0,102.0);
	
}

.button:hover {
	-fx-background-color:rgb(0.0,0.0,160.0);
}

.button:active {
	-fx-background-color:rgb(0.0,0.0,255.0);
	-fx-text-fill:rgb(255,255,0);
}
.label {
	-fx-text-fill:rgb(255.0,255.0,255.0);
	-fx-font-family: 'Tw Cen MT Condensed';
	-fx-font-size:19.0px;
	
}
.table-view {
	-fx-background-color: transparent;
	
}
.table-view:focused {
	
}
.table-view .column-header-background {
	-fx-background-color:rgb(0.0,0.0,128.0);
	-fx-font-family: 'Tw Cen MT Condensed';
	-fx-text-fill:rgb(255,255,255);
	
}
.table-view .column-header-background .label {
	
	-fx-background-color:rgb(0.0,0.0,128.0);
	-fx-font-family: 'Tw Cen MT Condensed';
	-fx-text-fill:rgb(255,255,255);
	
}
.radio-button {
	
	-fx-text-fill:rgb(255.0,255.0,255.0);
	-fx-font-family: 'Tw Cen MT Condensed';
	-fx-font-size:16.0px;
}
.table-view .column-header {
	-fx-font-family: 'Tw Cen MT Condensed';
	-fx-text-fill:rgb(255,255,255);
	
}